{%  extends 'shop/basic.html'  %}

{% block title %} {{product.product_name}} - My Awesome Cart {% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
     <div class="col-md-4">
        <div class="row my-4">
            <img src="/media/{{product.image}}" width="230px" height="200px">
        </div>
    </div>

    <div class="col-md-8 my-4">
        <h4> {{product.product_name}}</h4>
        <p> {{product.desc}}</p>

        <p> <b>₹: {{product.price}}.00 </b></p>
        <div class="row">

            <a href="/shop/checkout"> <button class="btn btn-outline-primary mx-4">Buy Now</button></a>
            <button class="btn btn-outline-info">Add to Cart</button>

        </div>


    </div>
    </div>

</div>



 {% endblock %}


{% block js %}
<script>
console.log('working');
if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
}
$('.cart').click(function(){
console.log('clicked');
var idstr = this.id.toString();
console.log(idstr);
if (cart[idstr] !=undefined){
cart[idstr] = cart[idstr] + 1;
}
else
{
cart[idstr] = 1;
}
console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart));


});
$('#popcart').popover();

document.getElementById('popcart').setAttribute('data-content','<h5> Cart your items in Shopping Cart </h5>')
</script>
{% endblock %}
